{{!-- <h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
  {{#unless sleepy}}
  {{> cats/cat-block sleep=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
  {{#if sleepy}}
  {{> cats/cat-block sleep=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}



{{!-- <div class="container">
  <br>
  <center>
    <div class="row">
      <img src="/assets/img/Krabby_Patty.png">
    </div>
  </center>

  <center>
    <h1 class="red_font">EATETH THY BURGERSSS!
    </h1>
  </center>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <input type="text" disabled value="{{burger_name}}">
      </div>
      <div class="col-sm-3">
        <button type="submit">EAT IT</button>
      </div>
      <div class="col-sm-3">
        <input type="text" disabled value="{{burger_name}}">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <input type="text" disabled value="{{burger_name}}">
      </div>
      <div class="col-sm-3">
        <button type="submit">EAT IT</button>
      </div>
      <div class="col-sm-3">
        <input type="text" disabled value="{{burger_name}}">
      </div>
    </div>
  </div>
  <br>
  <br>
  <form action="burger/create" method="POST">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="form-group col-md-6">
        <center>
          <label for="new_burger" class="red_font">Requesteth a newth burger and placeth thy order!</label>
        </center>
        <center>
          <input type="text" id="burgerOrder" class="form-control" id="new_burger" name="burger_name">
        </center>
      </div>
      <div class="col-md-3"></div>
    </div>
    <center>
      <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
    </center>
  </form>
  <br>
</div> --}}


<div class="container">
  <div class="jumbotron">
    <h1>Krusty Burger Restaurant<img src="assets/img/krustyburger.png" alt="Burgers" /></h1>       
  </div>

  <div class="container intro">
    <form class="create-update-form" action="/" method="POST">
      <div class="form-group">
        <label for="burger">Enter a Burger:</label>
        <input type="text" id="burger" name="burgerName">
      </div>
      <button id="addburger" type="submit" class="btn btn-success btn-sm">Add Burger</button>
    </form>
  </div> 
<br>
  <div class="panel panel-default col-md-5" style="padding: 0px">
    <div class="panel-heading">
      <h3>Burgers to Eat!</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.id}}<span>.</span> {{this.burger_name}}

              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devour" value="true">
                <button type="submit" class="btn btn-warning btn-sm">Devour!</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-md-1">
  </div>

  <div class="panel panel-default col-md-5" style="padding: 0px">
    <div class="panel-heading">
      <h3>Devoured Burgers!</h3>
    </div>
    <div class="panel-body">
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.id}}<span>.</span> {{this.burger_name}}

            </li>
          {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
      
</div>
